div{
	background-color:#ffffff;
	font-family:'Georgia', Times, Times New Roman, serif;
	color:#777777;
}
header{
	position: fixed;
	left: 50px;
	padding: 5px;
}

footer{
	position:fixed;
	background: #666666;
	clear:both;
	text-align: center;
	height: 70px;
	width:100%;
	bottom: 0;
	border-top: 10px solid #4aaaa5;
}
a{
	color: #666666;
}
h2{
	color:#4aaaa5;
	margin: 10 auto;
}
.Header{
	float:left;
	position:relative;
	height:100px;
	background:#ffffff;
	color: #ffffff;	
	margin-bottom:10px;
	width:100%;
	border-bottom: 1px solid #cccccc;
	top:5px;
	text-align: center;
}
#name{
	background:#4aaaa5;
	width: 27%;
	position:absolute;
	bottom:0;
	left:50px;
	top:10px;
}
.links{
	position: absolute;
	background:#ffffff;
	right:40px;
	top:45px;
	text-align:center;}
.Main-body{
	clear:both;
	position:relative;
	top: 15px;
	}
.icons{
	color:#4aaaa5;
	float:right;
	position:absolute;
	text-align: center;
	right:75px;
	background: #ffffff;
	border: 1px solid ;
	border-color: #dddddd;
	height: 75px;
	width: 220px;
	padding: 5px;
	padding-bottom: 70px;
	padding-top: 0;
}
.container{
	background:#ffffff;
	border: 1px #dddddd solid;
	position:relative;
	left:20px;
	width: 600px;
	height:520px;
	margin: 10px;
	padding:10px;
	text-align:left;
}/* container for About & Contact */
.portfolio{
	background:#ffffff;
	border: 1px #dddddd solid;
	position:relative;
	left:20px;
	width: 500px;
	height:720px;
	margin: 10px;
	padding:20px;
	text-align:left;
}
.paragraph{
	border-top:2px;
	float:left;

}
.line{
	border: 1px #dddddd solid;
	margin-bottom:10px;
	width:cal(50%);
}

.input{
	width: calc(100%);
    margin:0;
    padding:0;
    height:30px;
    float:left;
}
#message{
	height:100px;
	width: calc(100%);
	margin:0;
    padding:0;
    height:200px;
    float:left;
}
.projects{
	float:left;
	position: relative;
	height: 160px;
	width: 180px;
	background-color:red;
	margin: 20px;
}
.project_name{
	position:absolute;
	width:100%;
	bottom:10px;
	background-color: #4aaaa5;;
	text-align: center;
	font-style:normal;
	color:#ffffff;

}



