body{
	background-image: url("../images/weather.png");
	font-family:'Georgia', Times, Times New Roman, serif;
	color:#777777;
	position: relative;
	width:960px;
}
header{
	position: absolute;
	left: 50px;
	padding: 5px;
}

footer{
	position: absolute;
	background: #666666;
	clear:both;
	text-align: center;
	height: 70px;
	width:100%;
	bottom: 0px;
	border-top: 10px solid #4aaaa5;
}
footer p{
	position: absolute;
	bottom: 0;
	right: 50px;
	left: 50px;
}
a{
	color: #666666;
}
h2{
	color:#4aaaa5;
	margin: 10 auto;
}
.Header{
	float:left;
	position:relative;
	height:75px;
	background:#ffffff;
	color: #ffffff;	
	width:100%;
	border-bottom: 2px solid #cccccc;
	margin:10px #cccccc;
	margin-top: -12px;
	margin-left: -12px;
	top:4px;
	text-align: center;
}
.name{
	background:#4aaaa5;
	width: 300px;
	color:#ffffff;
	position:absolute;
	padding-top: -20px;
	bottom:0px;
	left:50px;
	top:10px;
}
.links{
	position: absolute;
	background:#ffffff;
	right:10px;
	top:27px;
	text-align:center;
}
.icons{
	color:#4aaaa5;
	float:right;
	position:absolute;
	text-align: center;
	right:0px;
	background: #ffffff;
	border: 1px solid ;
	border-color: #dddddd;
	height: 75px;
	width: 275px;
	padding: 5px;
	padding-bottom: 75px;
	padding-top: 0;
}
.icons img{
	height:63px;
	width:63px;
	padding: 5px;
}
.Main-body{
	clear:both;
	position:relative;
	top: 8px;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 200px;
	}
.container{
	background:#ffffff;
	border: 1px #dddddd solid;
	position:relative;
	left:10px;
	width: 600px;
	height:520px;
	margin: 10px;
	padding:10px;
	text-align:left;
}/* container for About & Contact */
.container img{
	height: 200px;
	width:200px;
	float:left;
}
.paragraph{
	border: 10px;
	border-top:2px;
	right:10px;
}
.line{
	border: 1px #dddddd solid;
	margin-bottom:10px;
	width:cal(50%);
}
.input{
	width: calc(100%);
    margin:0;
    padding:0;
    height:30px;
    float:left;
}
#message{
	height:100px;
	width: calc(100%);
	margin:0;
    padding:0;
    height:200px;
    float:left;
}
.projects{
	float:left;
	position: relative;
	height: 160px;
	width: 180px;
	background-color:red;
	margin: 20px;
}
.project_name{
	position:absolute;
	width:100%;
	bottom:10px;
	background-color: #4aaaa5;;
	text-align: center;
	font-style:normal;
	color:#ffffff;
}



